### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
from pprint import pprint

### Import Data

In [11]:
xFeat = pd.read_csv("q3xTrain.csv") #Parameters
y = pd.read_csv("q3yTrain.csv") #Result
xTest = pd.read_csv("q3xTest.csv")
yTest = pd.read_csv("q3xTest.csv")

In [12]:
#xFeat = xFeat.drop("f1", axis=1)
xFeat.head()

          f1         f2
0   5.277959   7.337077
1   3.220191   1.425023
2  14.034404   4.622037
3  24.374362   6.965873
4   6.585567  10.713930

In [13]:
y.head()

   label
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0

In [14]:
xFeat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      1000 non-null   float64
 1    f2     1000 non-null   float64
dtypes: float64(2)
memory usage: 15.8 KB

In [16]:
#turn to numpy array
xFeat = np.array(xFeat)
y = np.array(y)

### Gini Index

In [ ]:
def class_counts(rows):
    """Counts the number of each type of example in a dataset."""
    counts = {}  # a dictionary of label -> count.
    for row in rows:
        # in our dataset format, the label is always the last column
        label = row[-1]
        if label not in counts:
            counts[label] = 0
        counts[label] += 1
    return counts

In [17]:
def gini(rows):
    """Calculate the Gini Impurity for a list of rows.
    There are a few different ways to do this, I thought this one was
    the most concise. See:
    https://en.wikipedia.org/wiki/Decision_tree_learning#Gini_impurity
    """
    counts = class_counts(rows)
    impurity = 1
    for lbl in counts:
        prob_of_lbl = counts[lbl] / float(len(rows))
        impurity -= prob_of_lbl**2
    return impurity

In [ ]:
#Gini Function
#a and b are the quantities of each class
def gini(a,b):
    a1 = (a/(a+b))**2
    b1 = (b/(a+b))**2
    return 1 - (a1 + b1)